<!DOCTYPE html>
<html>
  <head>
    <title>Real-time gaming engine</title>
    <link rel='stylesheet' href='/public/stylesheets/index.css' />

      <script src="/public/javascripts/jquery.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="/public/bootstrap/css/bootstrap-theme.min.css">

      <!-- Latest compiled and minified JavaScript -->
      <script src="/public/bootstrap/js/bootstrap.min.js"></script>

      <script src="/socket.io/socket.io.js"></script>

      <script src="/public/javascripts/index.js"></script>

  </head>
  <body>

    <div id="header" class="row">
        <div class="col-md-10">
            <p>Welcome to the Real-time gaming engine</p>
        </div>
        <div class="col-md-2">
            <div id="loggedUserDiv" class="well well-sm" style="text-align: center">
                <%if(!username){    %>
                    Please log in
                <%} else {  %>
                    <div id="playerTemplate">
                        <span class="glyphicon glyphicon-user" style="color: limegreen"> </span>
                        <span class="player"><%= username%></span>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div id="main" class="row">
        <div id="games" class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Games</div>
                <div class="panel-body">
                    <div id="gamesDiv">

                    </div>
                </div>
            </div>
        </div>
        <div id="rooms" class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Rooms
                    <span id="spinnerRooms" class="pull-right">
                        <img src="/public/images/spinner.gif">
                    </span>
                </div>
                <div class="panel-body">
                    <div id="roomsDiv">
                        <!--custom component for showing group-->
                        <ul id="roomsList" class="nav nav-pills nav-stacked">

                        </ul>
                    </div>
                </div>
                <div id="createRoom" class="panel-footer">
                    <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#createRoomModal">Create room</button>
                </div>
            </div>
        </div>
        <div id="players" class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Players
                    <span id="spinnerPlayers" class="pull-right">
                        <img src="/public/images/spinner.gif">
                    </span>
                </div>
                <div class="panel-body">
                    <div id="playersDiv">
                        <!--custom component for showing user-->
                        <!--<div id="playerTemplate">
                            <span class="glyphicon glyphicon-user" style="color: limegreen"> </span>
                            <span class="player">Sashe</span>
                        </div>-->
                    </div>
                </div>
                <div id="registerPlayer" class="panel-footer">
                    <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#registerModal">Register</button>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="row">footer</div>

    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Registration</h4>
                </div>
                <form method="post" action="/register">


                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtPlayerName">Player name</label>
                        <input type="text" class="form-control" id="txtPlayerName" name="username" placeholder="Please insert your name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btnRegister" type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Create Room Modal -->
    <div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create new room</h4>
                </div>
                <form method="post" action="/createroom">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="txtRoomName">Room name</label>
                            <input type="text" class="form-control" id="txtRoomName" name="room"
                                   placeholder="Please insert the name of the room">
                        </div>
                        <select id="cmbGame" name="game" class="form-control">
                            <option value="tictactoe">Tic Tac Toe</option>
                            <option value="battleships">Battleships</option>
                            <option value="memorygame">Memory Game</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="btnCreateRoom" type="submit" class="btn btn-primary">Create room</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--<div id="alertSuccess" class="alert alert-success">-->
        <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">-->
            <!--×</button>-->
        <!--<span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>-->
        <!--<hr class="message-inner-separator">-->
        <!--<p>-->
            <!--You successfully read this important alert message.</p>-->
    <!--</div>-->

    <!--<div id="alertFail" class="alert alert-danger">-->
        <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">-->
            <!--×</button>-->
        <!--<span class="glyphicon glyphicon-hand-right"></span> <strong>Danger Message</strong>-->
        <!--<hr class="message-inner-separator">-->
        <!--<p>-->
            <!--Change a few things up and try submitting again.</p>-->
    <!--</div>-->


  </body>
</html>