<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/public/stylesheets/game.css' />

    <script src="/public/javascripts/jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/public/javascripts/memorygame.js"></script>
</head>
<body>
<div id="header" class="row">
    <div class="col-md-10">
        <p>tukka<%= game.name %>: <%= room %></p>
    </div>
    <div class="col-md-2">
        <button id="btnLeaveRoom" type="button" class="btn btn-danger">Leave room</button>
    </div>
</div>
<div id="main">
    <div id="gameDiv" style="height: 300px; text-align: center; background-color: lightblue">
         <div id="playerOneMap" style="float:left;">
            <!--<div class="MemoryGameCell" id="0"></div>
            <div class="MemoryGameCell" id="1"></div>
            <div class="MemoryGameCell" id="2"></div>
            <div class="MemoryGameCell" id="3"></div>
            <div class="MemoryGameCell" id="4"></div>

            <div class="MemoryGameCell" id="5" style="clear:left;"></div>
            <div class="MemoryGameCell" id="6"></div>
            <div class="MemoryGameCell" id="7"></div>
            <div class="MemoryGameCell" id="8"></div>
            <div class="MemoryGameCell" id="9"></div>

            <div class="MemoryGameCell" id="10" style="clear:left;"></div>
            <div class="MemoryGameCell" id="11"></div>
            <div class="MemoryGameCell" id="12"></div>
            <div class="MemoryGameCell" id="13"></div>
            <div class="MemoryGameCell" id="14"></div>

            <div class="MemoryGameCell" id="15" style="clear:left;"></div>
            <div class="MemoryGameCell" id="16"></div>
            <div class="MemoryGameCell" id="17"></div>
            <div class="MemoryGameCell" id="18"></div>
            <div class="MemoryGameCell" id="19"></div>-->
        </div>
        <div id="playerTwoMap" style="float:right;">
            <!--<div class="MemoryGameCell" id="0"></div>
            <div class="MemoryGameCell" id="1"></div>
            <div class="MemoryGameCell" id="2"></div>
            <div class="MemoryGameCell" id="3"></div>
            <div class="MemoryGameCell" id="4"></div>

            <div class="MemoryGameCell" id="5" style="clear:left;"></div>
            <div class="MemoryGameCell" id="6"></div>
            <div class="MemoryGameCell" id="7"></div>
            <div class="MemoryGameCell" id="8"></div>
            <div class="MemoryGameCell" id="9"></div>

            <div class="MemoryGameCell" id="10" style="clear:left;"></div>
            <div class="MemoryGameCell" id="11"></div>
            <div class="MemoryGameCell" id="12"></div>
            <div class="MemoryGameCell" id="13"></div>
            <div class="MemoryGameCell" id="14"></div>

            <div class="MemoryGameCell" id="15" style="clear:left;"></div>
            <div class="MemoryGameCell" id="16"></div>
            <div class="MemoryGameCell" id="17"></div>
            <div class="MemoryGameCell" id="18"></div>
            <div class="MemoryGameCell" id="19"></div>-->
        </div><!--        &lt;!&ndash;This need to be replaced with templates&ndash;&gt;
        <h2 id="turn">On Move:</h2>
        <div class="TicTacToeGameCell" id="0"></div>
        <div class="TicTacToeGameCell" id="1"></div>
        <div class="TicTacToeGameCell" id="2"></div>

        <div class="TicTacToeGameCell" id="3" style="clear:left;"></div>
        <div class="TicTacToeGameCell" id="4"></div>
        <div class="TicTacToeGameCell" id="5"></div>

        <div class="TicTacToeGameCell" id="6" style="clear:left;"></div>
        <div class="TicTacToeGameCell" id="7"></div>
        <div class="TicTacToeGameCell" id="8"></div>-->
    </div>
    <div id="controls" class="row">
        <div id="chatDiv" class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Chat</div>
                <div class="panel-body">
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <td style="width: 100px">Time</td>
                                <td style="width: 150px">Player</td>
                                <td>Message</td>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr>
                                <td>18:28</td>
                                <td>Sasko</td>
                                <td>Zdravo!</td>
                            </tr>
                            <tr>
                                <td>18:34</td>
                                <td>Kristian</td>
                                <td>Zdravo!</td>
                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="input-group">
                            <input type="text" id="txtChatMessage" class="form-control">
                            <span class="input-group-btn">
                                <button id="btnSend" class="btn btn-default" type="button">Send!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Players</div>
                <div class="panel-body">
                    <div id="playersDiv">
                        <!--<div id="playerTemplate">
                            <span class="glyphicon glyphicon-user" style="color: limegreen"> </span>
                            <span class="player">Sashe</span>
                        </div>
                        <div id="playerTemplatee">
                            <span class="glyphicon glyphicon-user" style="color: limegreen"> </span>
                            <span class="player">Kristian</span>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
</html>