body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
/*
#chatDiv thead {
    display: block;
}
*/

.chatTimeCol {
    width: 10%;
    /*text-align: center;*/
}
.chatPlayerCol {
    width: 15%;
    /*text-align: center;*/
}
.chatMsgCol {
    width: 75%;
}

#playersDiv {
    overflow: auto;
    height: 204px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
thead {
    text-align:left;
    display: table;
    float: left;
    width: 100%;
}
thead tr {
    display: table-row;
    width: 100%;
}
tbody {
    display: block;
    height: 120px;
    overflow: auto;
    float: left;
    width: 100%;
}
tbody tr {
    display: table;
    width: 100%;
}
tbody tr {
    height: 18px;
}
tbody td {
    padding:1px 8px;
}

tr:after{
    content: ".";
    visibility: hidden;
}

.TicTacToeGameCell{
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid;
    padding: 5px;
    float: left;
    font-size: 30px;
    text-align: center;
}
.MemoryGameCell{
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid;
    padding: 5px;
    float: left;
    font-size: 30px;
    text-align: center;
}