body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#playersDiv, #roomsDiv{
    height: 300px;
    overflow: auto;
}

#gamesDiv {
    height: 355px;
}
.footer{
    text-align: center;
}

.logoutDiv {
    background-color: red;
}

.remove_button_css {
    outline: none;
    padding: 0px;
    border: 0px;
    box-sizing: none;
    background-color: transparent;
}