body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#playersDiv, #roomsDiv{
    height: 300px;
    overflow: auto;
}

#gamesDiv {
    height: 355px;
}
.footer{
    text-align: center;
}